# Editors
*.kate-swp
*~
\#*#
.#*
.*.swp
.project
cscope.files
cscope.out
*.orig
.desktop
.directory

# Contains private data
/.env

# A symbolic link to compose.*.yml file, depends on the server
/compose.override.yml
/compose.override.yaml
