[submodule "_resources/extensions/SubpageWatchlist"]
	path = _resources/extensions/SubpageWatchlist
	url = https://gerrit.wikimedia.org/r/mediawiki/extensions/SubpageWatchlist.git
	branch = REL1_35
[submodule "_resources/extensions/SemanticScribunto"]
	path = _resources/extensions/SemanticScribunto
	url = https://github.com/SemanticMediaWiki/SemanticScribunto
[submodule "_resources/extensions/CategoryLockdown"]
	path = _resources/extensions/CategoryLockdown
	url = https://github.com/wikimedia/mediawiki-extensions-CategoryLockdown.git
	branch = REL1_39
[submodule "_resources/extensions/SemanticDependencyUpdater"]
	path = _resources/extensions/SemanticDependencyUpdater
	url = https://github.com/gesinn-it-pub/SemanticDependencyUpdater.git
