services:
    db:
        container_name: ${COMPOSE_PROJECT_NAME}_db # don't allow to scale the container
        image: mysql:8.0
        # MBSD-262
        command: >
            --default-authentication-plugin=mysql_native_password
            --binlog_expire_logs_seconds=86400
            --secure-file-priv=""
            --local-infile=1
            --innodb_redo_log_capacity=1G
        cap_add:
            - SYS_NICE  # CAP_SYS_NICE, fix error mbind: Operation not permitted
        restart: unless-stopped
        environment:
            - MYSQL_DATABASE=mediawiki
            - MYSQL_ROOT_HOST=%
            - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD?Variable MYSQL_ROOT_PASSWORD not set}
        volumes:
            - ./__initdb:/docker-entrypoint-initdb.d
            - db_data:/var/lib/mysql

    matomo-db:
        profiles:
            - matomo
        container_name: ${COMPOSE_PROJECT_NAME}_matomo_db # don't allow to scale the container
        image: mysql:8.0
        # MBSD-262
        command: >
            --default-authentication-plugin=mysql_native_password
            --binlog_expire_logs_seconds=86400
            --secure-file-priv=""
            --local-infile=1
            --innodb_redo_log_capacity=1G
        cap_add:
            - SYS_NICE  # CAP_SYS_NICE, fix error mbind: Operation not permitted
        restart: unless-stopped
        environment:
            - MYSQL_DATABASE=matomo
            - MYSQL_ROOT_HOST=%
            - MYSQL_ROOT_PASSWORD=${MATOMO_MYSQL_ROOT_PASSWORD?Variable MATOMO_MYSQL_ROOT_PASSWORD not set}
            - MYSQL_USER=matomo
            - MYSQL_PASSWORD=${MATOMO_MYSQL_PASSWORD?Variable MATOMO_MYSQL_PASSWORD not set}
        volumes:
            - /matomo/__initdb:/docker-entrypoint-initdb.d
            - /matomo/data:/var/lib/mysql

    web:
        image: ghcr.io/wikiteq/taqasta:1.43.5-20251120-328
        restart: unless-stopped
        extra_hosts:
            - "gateway.docker.internal:host-gateway"
        depends_on:
            - db
            - redis
            - elasticsearch
        command: bash /entrypoint.sh
        environment:
            - MW_SITE_SERVER=https://bugsigdb.org
            - MW_DB_NAME=mediawiki
            - MW_DB_PASS=${MYSQL_ROOT_PASSWORD?Variable MYSQL_ROOT_PASSWORD not set}
            - MW_NCBI_TAXONOMY_API_KEY=${MW_NCBI_TAXONOMY_API_KEY:-}
            - MW_RECAPTCHA_SITE_KEY=${MW_RECAPTCHA_SITE_KEY:-}
            - MW_RECAPTCHA_SECRET_KEY=${MW_RECAPTCHA_SECRET_KEY:-}
            - MW_ADMIN_USER=admin
            - MW_ADMIN_PASSWORD
            - MW_SITE_NAME=BugSigDB
            - MW_SITE_LANG=en
            - MW_ENABLE_UPLOADS=1
            - MW_MAIN_CACHE_TYPE=CACHE_REDIS
            - MW_LOAD_SKINS=Vector,chameleon
            - MW_DEFAULT_SKIN=chameleon
            - MW_LOAD_EXTENSIONS=GTag,CodeEditor,Nuke,ParserFunctions,ReplaceText,WikiEditor,Interwiki,CodeEditor,Scribunto,SyntaxHighlight_GeSHi,DataTransfer,Variables,PubmedParser,CodeMirror,Loops,MyVariables,Arrays,DisplayTitle,NCBITaxonomyLookup,SemanticExtraSpecialProperties,SemanticResultFormats
            - MW_SEARCH_TYPE=CirrusSearch
            - MW_PROXY_SERVERS=varnish:80
            - MW_CACHE_PURGE_PAUSE=3600
            - MW_CACHE_PURGE_PAGE=Main_Page
            - PHP_MEMORY_LIMIT=4056M
            - MW_JOB_RUNNER_MEMORY_LIMIT=1G
        volumes:
            - web_data:/mediawiki
            - images:/mediawiki/images
            - ./_logs/httpd:/var/log/apache2
            - ./_logs/mediawiki:/var/log/mediawiki
            - ./_settings/:/var/www/mediawiki/w/_settings
            - ./_resources/favicon.ico:/var/www/mediawiki/w/favicon.ico
            - ./_resources/logo.png:/var/www/mediawiki/w/logo.png
            - ./_resources/chameleon:/var/www/mediawiki/w/skins/chameleon/custom
            - ./_resources/footer_icons/cuny.png:/var/www/mediawiki/w/cuny.png
            - ./_resources/footer_icons/mw.png:/var/www/mediawiki/w/mw.png
            - ./_resources/footer_icons/smw.png:/var/www/mediawiki/w/smw.png
            - ./_resources/footer_icons/ww.png:/var/www/mediawiki/w/ww.png
            - ./_resources/footer_icons/bioc.png:/var/www/mediawiki/w/bioc.png
            - ./_resources/extensions/CategoryLockdown:/var/www/mediawiki/w/extensions/CategoryLockdown
            - ./_resources/extensions/SubpageWatchlist:/var/www/mediawiki/w/extensions/SubpageWatchlist
            - ./_resources/extensions/SemanticScribunto:/var/www/mediawiki/w/extensions/SemanticScribunto
            - ./_resources/extensions/SemanticDependencyUpdater:/var/www/mediawiki/w/extensions/SemanticDependencyUpdater
            - ./_resources/googlef2273af339547660.html:/var/www/mediawiki/googlef2273af339547660.html
            - ./entrypoint.sh:/entrypoint.sh
            - ./cache_purge.sh:/cache_purge.sh
            # csv reports with index enabled, MBSD-355
            - ./export_csv.sh:/export_csv.sh
            - ./csv_reports:/mediawiki/images/csv_reports
        labels:
            # cron
            - cron.enabled=true
            # studies export, MBSD-355, every hour performs export of studies, experiments and signatures CSVs
            - "cron.report-export-csv.schedule=0 */1 * * *"
            - 'cron.report-export-csv.command=bash /export_csv.sh'

    redis:
        container_name: ${COMPOSE_PROJECT_NAME}_redis # don't allow to scale the container
        image: "redis:7.4.0-alpine3.20"
        restart: unless-stopped
        volumes:
            - redis_data:/data
            - ./_resources/redis.conf:/usr/local/etc/redis/redis.conf
        command: ["redis-server", "/usr/local/etc/redis/redis.conf"]

    elasticsearch:
        container_name: ${COMPOSE_PROJECT_NAME}_elasticsearch # don't allow to scale the container
        image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
        restart: unless-stopped
        environment:
            - discovery.type=single-node
            - bootstrap.memory_lock=true
            - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
            - cluster.routing.allocation.disk.threshold_enabled=true
            - cluster.routing.allocation.disk.watermark.flood_stage=1gb
            - cluster.routing.allocation.disk.watermark.high=2gb
            - cluster.routing.allocation.disk.watermark.low=3gb
        ulimits:
            memlock:
                soft: -1
                hard: -1
        volumes:
            - elasticsearch_data:/usr/share/elasticsearch/data

    matomo:
        profiles:
            - matomo
        image: matomo:5.1.1
        restart: unless-stopped
        networks:
            - default
            - traefik-public
        depends_on:
            - matomo-db
        environment:
            - MATOMO_DATABASE_HOST=matomo-db
            - MATOMO_DATABASE_DBNAME=matomo
            - MATOMO_DATABASE_USERNAME=matomo
            - MATOMO_DATABASE_PASSWORD=${MATOMO_MYSQL_PASSWORD?Variable MATOMO_MYSQL_PASSWORD not set}
            - PHP_MEMORY_LIMIT=2G
        volumes:
            - matomo_data:/var/www/html
            - ./_resources/matomo-bootstrap.php:/var/www/html/bootstrap.php
        labels:
            # cron
            - cron.enabled=true
            - cron.maintenance-matomo.schedule=@daily
            - cron.maintenance-matomo.command=./console core:archive --force-all-websites --url="http://matomo"
            # Traefik
            # (rule and middlewares are set in the override files, keep them synchronized)
            # - traefik.http.routers.${COMPOSE_PROJECT_NAME}-matomo.rule=Host(`bugsigdb.org`) && PathPrefix(`/matomo/`)
            # - traefik.http.routers.${COMPOSE_PROJECT_NAME}-matomo.middlewares=${COMPOSE_PROJECT_NAME}-matomo-stripprefix,${COMPOSE_PROJECT_NAME}-matomo-headers
            - traefik.enable=true
            - traefik.docker.network=traefik-public
            - traefik.constraint-label=traefik-public
            - traefik.http.routers.${COMPOSE_PROJECT_NAME}-matomo.entrypoints=websecure
            - traefik.http.routers.${COMPOSE_PROJECT_NAME}-matomo.tls.certresolver=le
            - traefik.http.middlewares.${COMPOSE_PROJECT_NAME}-matomo-stripprefix.stripprefix.prefixes=/matomo
            - traefik.http.middlewares.${COMPOSE_PROJECT_NAME}-matomo-stripprefix.stripprefix.forceSlash=true
            - traefik.http.middlewares.${COMPOSE_PROJECT_NAME}-matomo-headers.headers.customrequestheaders.X-Forwarded-Uri=/matomo

    varnish:
        container_name: ${COMPOSE_PROJECT_NAME}_varnish # don't allow to scale the container
        image: pastakhov/varnish:7.0
        restart: unless-stopped
        networks:
            - default
            - traefik-public
        depends_on:
            - web
        tmpfs:
            - /var/lib/varnish:exec
        environment:
            - VARNISH_SIZE=5G
            - VARNISH_STORAGE_KIND=file
            - VARNISH_LOG_DIR=/var/log/varnish
            - VARNISH_LOG_FORMAT=X-Real-IP
            - MATOMO_USER=admin
            - MATOMO_PASSWORD=${MATOMO_PASSWORD?Variable MATOMO_PASSWORD not set}
        volumes:
            - ./_resources/varnish:/etc/varnish:ro
            - varnish_data:/data
            - ./_logs/varnish:/var/log/varnish
            - matomo_data:/var/www/html
        labels:
            # cron
            - cron.enabled=true
            # Every hour at the 59th minute
            - cron.import_logs_matomo.schedule=59 * * * *
            - cron.import_logs_matomo.command=import_logs_matomo
            # Traefik
            # (rule and middlewares are set in the override files, keep them synchronized)
            # - traefik.http.routers.${COMPOSE_PROJECT_NAME}-varnish.rule=Host(`bugsigdb.org`)
            # - traefik.http.routers.${COMPOSE_PROJECT_NAME}-varnish.middlewares=crowdsec@file
            - traefik.enable=true
            - traefik.docker.network=traefik-public
            - traefik.constraint-label=traefik-public
            - traefik.http.routers.${COMPOSE_PROJECT_NAME}-varnish.entrypoints=websecure
            - traefik.http.routers.${COMPOSE_PROJECT_NAME}-varnish.tls.certresolver=le

    cron:
        container_name: ${COMPOSE_PROJECT_NAME}_cron # don't allow to scale the container
        image: ghcr.io/wikiteq/cron:20251103-11
        restart: unless-stopped
        environment:
            - COMPOSE_PROJECT_NAME=${COMPOSE_PROJECT_NAME}
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock:ro
            - ./_logs/cron:/var/log/cron
        labels:
          # Enable cron scheduling for the cron container itself
          - cron.enabled=true
          # Log archiving job - runs daily and creates archives when a period accumulates 30 files
          - cron.archive_cron_logs.schedule=@daily
          - cron.archive_cron_logs.command=archive-cron-logs 30

networks:
    traefik-public:
        external: true

volumes:
    db_data:
    web_data:
    images:
    redis_data:
    elasticsearch_data:
    varnish_data:
    matomo_data:
    restic_data:
